a {
  text-decoration: none;
}
body {
  background: url("background.png");
  background-size: cover;
}
.heading {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-left: 30%;
  width: 70%;
  border-radius: 10px
}
.heading:hover {
  cursor: pointer;
}
h1 {
  font-size: 54pt;
  color: white;
}
h2 {
  font-size: 30pt;
}
p {
  font-size: 13pt;
}
#hero-section {
  width: 60%;
  margin-left: 30%;
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  padding: 15px;
  border-radius: 15px;
}
.article {
  border-radius: 17px;
  box-shadow: 2px 2px 5px 2px;
  padding: 5px;
  margin-bottom: 25px;
}
.nav-bar {
  max-width: 20%;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 1);
  position: fixed;
}
.nav {
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 1);
  font-size: 15pt;
  width: 100%;
  padding: 30px;
  border: none;
  font-family: 'Garamond';
}
.nav:hover {
  background: rgb(200, 200, 200, 1);
  width: 100%;
  color: black;
  cursor: pointer;
  animation: explode 3s ease infinite;
}
.divider {
  width: 70%;
  margin-left: 15%;
}
@keyframes explode {
  0% {
    transition: scale(1);
  }
  20% {
    transition: scale(1.1);
  }
  40% {
    transition: scale(1);
  }
  60% {
    transition: scale(1.2);
  }
  80% {
    transition: scale(1.3);
  }
  100% {
    transition: scale(1.2);
  }
}
