button {
    font-family: sans-serif;
}
.top {
    /*background: rgba(220, 130, 80, 1); */
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
}
.select {
    background: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
    border: none;
    padding: 7px 10px;
    /* width: 5%; */
    font-family: sans-serif;
    font-size: 13pt;
}
.whydd {
    background: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
    border: none;
    padding: 6px 10px;
    /*width: 5%;*/
    font-family: sans-serif;
    font-size: 13pt;
    margin-top: 0px;
}
.select:hover {
    background: rgba(0, 0, 0, 0.4);
}
.logo {
    background: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 1);
    border: none;
    padding: 7px;
    padding-left: 15px;
}
.logo:hover {
    background: rgba(0, 0, 0, 0.4);
}
.head1 {
    background: linear-gradient(to top, rgba(150, 150, 150, 1), rgba(200, 200, 200, 1));
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    margin: none;
    width: 410px;
    margin-top: 40px;
}
textarea {
    width: 400px;
    resize: none;
}
.tex {
    max-width: 410px;
    max-height: 200px;
    background: rgba(255, 255, 255, 1);
    padding: 5px;
    border-radius: 0px 0px 7px 7px;
}
#textedit {
    position: fixed;
}
.head {
    background: linear-gradient(to top, rgba(150, 150, 150, 1), rgba(200, 200, 200, 1));
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    margin: none;
}
.red {
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 70, 0, 0.8));
    font-size: 10px;
    width: 12px;
    height: 12px;
    margin: 3px;
}
/* .red:hover {
    cursor: pointer;
} */
.yellow {
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right, rgba(240, 230, 0, 1), rgba(240, 220, 0, 0.8));
    font-size: 10px;
    width: 12px;
    height: 12px;
    margin: 3px;
}
.green {
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right, rgba(0, 255, 0, 1), rgba(0 ,255, 70, 0.8));
    font-size: 10px;
    width: 12px;
    height: 12px;
    margin: 3px;
}
.head {
    background: linear-gradient(to top, rgba(150, 150, 150, 1), rgba(200, 200, 200, 1));
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    margin: none;
}
.red {
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 70, 0, 0.8));
    font-size: 10px;
    width: 12px;
    height: 12px;
    margin: 3px;
}
/* .red:hover {
    cursor: pointer;
} */
.yellow {
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right, rgba(240, 230, 0, 1), rgba(240, 220, 0, 0.8));
    font-size: 10px;
    width: 12px;
    height: 12px;
    margin: 3px;
}
.green {
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right, rgba(0, 255, 0, 1), rgba(0 ,255, 70, 0.8));
    font-size: 10px;
    width: 12px;
    height: 12px;
    margin: 3px;
}
.webpage {
    background: rgba(255, 255, 255, 1);
    margin: none;
    padding: 7px;
    color: rgba(0, 0, 0, 1);
    border-radius: 0px 0px 10px 10px;
}
#submit {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
    /* border: none;
    color: white; */
}
#input {
    width: 70%;
    padding: 5px;
    margin: 7px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 7px;
}
iframe {
    border: none;
    margin: 0px;
}
h2 {
    font-family: sans-serif;
}
#id {
    position: fixed;
}
#completeWrapper {
    background: url("https://cdn.wccftech.com/wp-content/uploads/2016/11/Abstract-Shapes.jpg");
    background-size: cover;
    user-select: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* cursor: progress */;
}
.serve {
    margin: 5px;
}
#tab {
    width: 70%;
    margin: 5px;
    margin-top: 40px;
    /* height: 75%; */
    position: fixed;
    display: block;
}
.changedHide {
    visibility: hidden;
}
.hide {
    display: none;
}
#google {
    cursor: not-allowed;
}
.torc {
    position: fixed;
    padding: 8px;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
    width: 50%;
    margin-left: 25%;
    border-radius: 15px 15px 0px 0px;
}
#webpageUp2 {
    display: none;
}
.grapes {
    display: none;
}
.apples {
    display: block;
}
.tabWrapper {
    box-shadow: 1px 1px 3px 2px;
}