.redColor {
    color: red;
}
.blueColor {
    color: blue;
}
.blackColor {
    color: black;
}
.greenColor {
    color: green;
}
.yellowColor {
    color: yellow;
}
.colorBlue {
    background: blue;
}
.colorRed {
    background: red;
}
.colorBlack {
    background: black;
}
.colorGreen {
    background: green;
}
.colorYellow {
    background: yellow;
}