h1 {
    font-size: 28pt;
  }
  h2 {
    font-size: 18pt;
  }
  p {
    font-size: 11pt;
  }
  .centerArticle {
    padding: 10px;
    width: 60%;
    margin-left: 20%;
    box-shadow: 2px 2px 5px 2px;
  }
  .small {
    font-size: 10pt;
  }